.nazha-layout,
.nazha-layout-main {
  min-height: 100dvh;
  background: #f6f8fa;
}

.nazha-layout {
  position: relative;
  width: 100%;
}

.nazha-layout-bg {
  display: none;
}

.nazha-layout-main {
  position: relative;
  z-index: 10;
}
