/* Search box (match current version) */
.search-box-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.search-box-group {
  position: fixed;
  left: 50%;
  top: 150px;
  z-index: 1010;
  transform: translate(-50%, 0);
  width: 600px;
  padding: 30px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 640px) {
  .search-box-group {
    width: auto;
    top: 100px;
    left: 20px;
    right: 20px;
    padding: 20px;
    transform: translate(0, 0);
  }
}

.search-box-group .search-box {
  position: relative;
  width: 100%;
  padding-right: 40px;
  border-radius: 20px;
  background: #eee;
}

.search-box-group .search-box .search-box-input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #234;
  font-size: 14px;
  background: transparent;
  border: none;
  outline: none;
  transition: 0.3s;
}

.search-box-group .search-box .clear-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.search-box-group .search-box .clear-btn .clear-icon {
  font-size: 20px;
  color: #666;
}

.search-box-group .search-list {
  margin-top: 10px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 640px) {
  .search-box-group .search-list {
    height: 50vh;
  }
}

.search-box-group .search-list::-webkit-scrollbar {
  width: 8px;
}

.search-box-group .search-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.search-box-group .search-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.search-box-group .search-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.search-active-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.3s;
}

.search-active-btn .icon {
  line-height: 1;
  font-size: 24px;
  color: #eee;
}

.search-active-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.search-list-item {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.search-list-item .server-name {
  flex: 1;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.search-list-item .server-tag-list {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 30px;
}

.search-list-item .server-tag-list .tag-item {
  height: 18px;
  padding: 0 4px;
  line-height: 18px;
  font-size: 12px;
  color: var(--public-note-tag-color);
  background: var(--public-note-tag-bg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

